.demo-weather {
    text-align: center;
}

.day {
    display: inline-block;
    background-color: #f9f9f9;
    color: rgba(0, 0, 0, .6);
    text-shadow: #fff 0 1px 0;
    width: 8em;
    text-align: center;
    @include border-radius(15px);
    @include st-box-shadow(inset 0 0 4px #888);
    padding: 1em;
    margin: .5em;

    .#{$prefix}android & {
        @include box-shadow(none);
    }
}

.date {
    font-size: .8em;
}

.icon img {
    @include border-radius(10px);
    margin: .6em;
    width: 3.5em;
}

.temp {
    margin-top: .2em;
    display: block;
    font-size: 2.2em;
    line-height: .5em;
}

.temp_low {
    display: inline;
    font-size: .5em;
    color: rgba(30, 30, 30, .5);
}
