@font-face {
  font-family: 'Sencha-Examples';
  src:  url('fonts/Sencha-Examples.eot?2a4uuv');
  src:  url('fonts/Sencha-Examples.eot?2a4uuv#iefix') format('embedded-opentype'),
    url('fonts/Sencha-Examples.ttf?2a4uuv') format('truetype'),
    url('fonts/Sencha-Examples.woff?2a4uuv') format('woff'),
    url('fonts/Sencha-Examples.svg?2a4uuv#Sencha-Examples') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Sencha-Examples' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line-real-time-date:before {
  content: "\e98f";
}
.icon-line-real-time-number:before {
  content: "\e990";
}
.icon-line-real-time:before {
  content: "\e991";
}
.icon-gridheader-tools:before {
  content: "\e96a";
}
.icon-rowoperations-grid:before {
  content: "\e98b";
}
.icon-editable-grid:before {
  content: "\e98c";
}
.icon-layout-card-indicator:before {
  content: "\e98d";
}
.icon-undoable-step-swiper:before {
  content: "\e98e";
}
.icon-grid-tools:before {
  content: "\e95a";
}
.icon-menu-grid:before {
  content: "\e95b";
}
.icon-row-body-grid:before {
  content: "\e95c";
}
.icon-summary-row-grid:before {
  content: "\e95d";
}
.icon-view-options-grid:before {
  content: "\e95e";
}
.icon-flexible-selection-grid:before {
  content: "\e95f";
}
.icon-ticker-grid:before {
  content: "\e960";
}
.icon-boxplot-charts:before {
  content: "\e961";
}
.icon-boxplot-nobel:before {
  content: "\e962";
}
.icon-navigator-line:before {
  content: "\e963";
}
.icon-navigator-charts:before {
  content: "\e964";
}
.icon-d3-view-sencha-tree:before {
  content: "\e965";
}
.icon-field-validation-adv:before {
  content: "\e966";
}
.icon-form-errortargets:before {
  content: "\e967";
}
.icon-form-masks:before {
  content: "\e968";
}
.icon-form-fieldui:before {
  content: "\e969";
}
.icon-field-validation:before {
  content: "\e98a";
}
.icon-form-validation:before {
  content: "\e96b";
}
.icon-form-remote-combo:before {
  content: "\e96c";
}
.icon-gauge-sectors:before {
  content: "\e96d";
}
.icon-layout-form:before {
  content: "\e96e";
}
.icon-layout-box:before {
  content: "\e96f";
}
.icon-basic-accordion-swiper:before {
  content: "\e970";
}
.icon-undoable-accordion-swiper:before {
  content: "\e971";
}
.icon-listpaging-list:before {
  content: "\e972";
}
.icon-basic-step-swiper:before {
  content: "\e973";
}
.icon-pullrefresh-list:before {
  content: "\e974";
}
.icon-audio-basic:before {
  content: "\e975";
}
.icon-video-basic:before {
  content: "\e976";
}
.icon-actionsheets:before {
  content: "\e977";
}
.icon-panel-date-adv:before {
  content: "\e978";
}
.icon-panel-date:before {
  content: "\e979";
}
.icon-panel-basic:before {
  content: "\e97a";
}
.icon-panel-collapsible:before {
  content: "\e97b";
}
.icon-panel-complex-collapsible:before {
  content: "\e97c";
}
.icon-panel-headerposition:before {
  content: "\e97d";
}
.icon-panel-handleresize:before {
  content: "\e97e";
}
.icon-panel-splitresize:before {
  content: "\e97f";
}
.icon-collapsible-pivot-grid:before {
  content: "\e980";
}
.icon-tabular-pivot-grid:before {
  content: "\e981";
}
.icon-widgets-pivot-grid:before {
  content: "\e982";
}
.icon-basic-dialog:before {
  content: "\e983";
}
.icon-toast-view:before {
  content: "\e984";
}
.icon-progress-basic:before {
  content: "\e985";
}
.icon-progress-decorated:before {
  content: "\e986";
}
.icon-tree-cell-editing:before {
  content: "\e987";
}
.icon-tree-editable:before {
  content: "\e988";
}
.icon-tree-decorations:before {
  content: "\e989";
}
.icon-amf-three:before {
  content: "\e938";
}
.icon-d3-view-heatmap-pivot-configurator:before {
  content: "\e945";
}
.icon-d3-view-treemap-pivot-configurator:before {
  content: "\e946";
}
.icon-d3-view-day-hour-heatmap:before {
  content: "\e947";
}
.icon-d3-view-heatmap-pivot:before {
  content: "\e956";
}
.icon-d3-view-words:before {
  content: "\e957";
}
.icon-tooltips:before {
  content: "\e92e";
}
.icon-form-placeholder:before {
  content: "\e92c";
}
.icon-disclosure-list:before {
  content: "\e92d";
}
.icon-binding-form:before {
  content: "\e902";
}
.icon-animations:before {
  content: "\e92a";
}
.icon-tabs:before {
  content: "\e952";
}
.icon-toolbar-menus:before {
  content: "\e953";
}
.icon-toolbar:before {
  content: "\e954";
}
.icon-carousel:before {
  content: "\e92b";
}
.icon-dataview-basic:before {
  content: "\e92f";
}
.icon-dataview-horizontal:before {
  content: "\e930";
}
.icon-dataview-inline:before {
  content: "\e931";
}
.icon-ajax:before {
  content: "\e932";
}
.icon-jsonp:before {
  content: "\e933";
}
.icon-nestedloading:before {
  content: "\e934";
}
.icon-yql:before {
  content: "\e935";
}
.icon-Data:before {
  content: "\e936";
}
.icon-form-panel:before {
  content: "\e937";
}
.icon-form-sliders:before {
  content: "\e93e";
}
.icon-fa-icons:before {
  content: "\e93f";
}
.icon-vector-icons:before {
  content: "\e940";
}
.icon-basic-list:before {
  content: "\e941";
}
.icon-grouped-list:before {
  content: "\e948";
}
.icon-nested-list:before {
  content: "\e949";
}
.icon-lists:before {
  content: "\e94a";
}
.icon-audio:before {
  content: "\e94b";
}
.icon-video:before {
  content: "\e94c";
}
.icon-menus:before {
  content: "\e94d";
}
.icon-overlays:before {
  content: "\e94e";
}
.icon-progress-bar:before {
  content: "\e94f";
}
.icon-bottom-tabs:before {
  content: "\e950";
}
.icon-touch-events:before {
  content: "\e951";
}
.icon-exec-dashboard:before {
  content: "\e607";
}
.icon-binding-child-session:before {
  content: "\e606";
}
.icon-border-square:before {
  content: "\e710";
}
.icon-datachanges-pivot-grid:before {
  content: "\e93b";
}
.icon-stateful-pivot-grid:before {
  content: "\e93c";
}
.icon-tip-aligning:before {
  content: "\e93d";
}
.icon-closable-tooltips:before {
  content: "\e942";
}
.icon-html-tooltips:before {
  content: "\e943";
}
.icon-mousetrack-tooltips:before {
  content: "\e944";
}
.icon-anchored-tooltips:before {
  content: "\e959";
}
.icon-amf-one:before {
  content: "\e958";
}
.icon-tree-list:before {
  content: "\e63f";
}
.icon-address-book:before {
  content: "\e639";
}
.icon-census:before {
  content: "\e63a";
}
.icon-geo-congress:before {
  content: "\e63b";
}
.icon-oreilly:before {
  content: "\e63c";
}
.icon-stock-chart:before {
  content: "\e63d";
}
.icon-us-energy:before {
  content: "\e63e";
}
.icon-chart-pivot-grid:before {
  content: "\e636";
}
.icon-pivot-grids:before {
  content: "\e637";
}
.icon-remote-pivot-grid:before {
  content: "\e638";
}
.icon-exporter-pivot-grid:before {
  content: "\e635";
}
.icon-compact-pivot-grid:before {
  content: "\e632";
}
.icon-configurable-pivot-grid:before {
  content: "\e633";
}
.icon-drilldown-pivot-grid:before {
  content: "\e634";
}
.icon-outline-pivot-grid:before {
  content: "\e642";
}
.icon-rangeeditor-pivot-grid:before {
  content: "\e643";
}
.icon-spreadsheet-checked:before {
  content: "\e614";
}
.icon-spreadsheet:before {
  content: "\e631";
}
.icon-area-negative:before {
  content: "\e62e";
}
.icon-column-negative-3d:before {
  content: "\e62f";
}
.icon-bar-negative-3d:before {
  content: "\e630";
}
.icon-custom-template-combo:before {
  content: "\e629";
}
.icon-remote-loaded-combo:before {
  content: "\e62a";
}
.icon-remote-combo:before {
  content: "\e62b";
}
.icon-combo-boxes:before {
  content: "\e62d";
}
.icon-simple-combo:before {
  content: "\e62c";
}
.icon-framing-buttons:before {
  content: "\e624";
}
.icon-row-numberer:before {
  content: "\e625";
}
.icon-expander-lockable:before {
  content: "\e626";
}
.icon-checkbox-selection:before {
  content: "\e627";
}
.icon-spreadsheet-selmodel-grid:before {
  content: "\e628";
}
.icon-column-renderer-3d:before {
  content: "\e60f";
}
.icon-column-stacked-100-3d:before {
  content: "\e610";
}
.icon-column-stacked-3d:before {
  content: "\e611";
}
.icon-column-grouped-3d:before {
  content: "\e612";
}
.icon-column-basic-3d:before {
  content: "\e613";
}
.icon-binding-selection:before {
  content: "\e615";
}
.icon-lineardata-tree:before {
  content: "\e616";
}
.icon-form-rating:before {
  content: "\e617";
}
.icon-form-color-picker:before {
  content: "\e618";
}
.icon-direct-named:before {
  content: "\e619";
}
.icon-direct-tree:before {
  content: "\e61a";
}
.icon-direct-generic:before {
  content: "\e61b";
}
.icon-bar-stacked-100-3d:before {
  content: "\e61c";
}
.icon-bar-stacked-3d:before {
  content: "\e61d";
}
.icon-bar-basic-3d:before {
  content: "\e61e";
}
.icon-draw-composite:before {
  content: "\e61f";
}
.icon-intersections:before {
  content: "\e620";
}
.icon-hit-test:before {
  content: "\e621";
}
.icon-bar-charts-3d:before {
  content: "\e622";
}
.icon-column-charts-3d:before {
  content: "\e623";
}
.icon-reorderable-tabs:before {
  content: "\e604";
}
.icon-ajax-tabs:before {
  content: "\e605";
}
.icon-responsive-design:before {
  content: "\e602";
}
.icon-dd-zones:before {
  content: "\e603";
}
.icon-ticket:before {
  content: "\e600";
}
.icon-webdesktop:before {
  content: "\e6bd";
}
.icon-plus:before {
  content: "\e6bf";
}
.icon-tree-xml:before {
  content: "\e6c0";
}
.icon-tree-two:before {
  content: "\e6c1";
}
.icon-tree-reorder:before {
  content: "\e6c2";
}
.icon-tree-grid:before {
  content: "\e6c3";
}
.icon-toggle-buttons:before {
  content: "\e6c4";
}
.icon-theme:before {
  content: "\e6c5";
}
.icon-tasks:before {
  content: "\e6c6";
}
.icon-minus:before {
  content: "\e6c7";
}
.icon-stacked:before {
  content: "\e6c8";
}
.icon-square:before {
  content: "\e6c9";
}
.icon-soap-grid:before {
  content: "\e6ca";
}
.icon-sliding-pager:before {
  content: "\e6cb";
}
.icon-slider-field:before {
  content: "\e6cc";
}
.icon-scatter-custom-icons:before {
  content: "\e6cd";
}
.icon-scatter-bubble:before {
  content: "\e6ce";
}
.icon-scatter-basic:before {
  content: "\e6cf";
}
.icon-rtl:before {
  content: "\e6d0";
}
.icon-rounded-square:before {
  content: "\e6d1";
}
.icon-right-text-buttons:before {
  content: "\e6d2";
}
.icon-reconfigure-grid:before {
  content: "\e6d3";
}
.icon-radar-multi-axis:before {
  content: "\e6d4";
}
.icon-radar-basic:before {
  content: "\e6d5";
}
.icon-property-grid:before {
  content: "\e6d6";
}
.icon-progress-bar-pager:before {
  content: "\e6d7";
}
.icon-portal:before {
  content: "\e6d8";
}
.icon-pie-donut:before {
  content: "\e6d9";
}
.icon-pie-custom:before {
  content: "\e6da";
}
.icon-pie-basic:before {
  content: "\e6db";
}
.icon-paging-grid:before {
  content: "\e6dc";
}
.icon-multi-sort-grid:before {
  content: "\e6dd";
}
.icon-multi-selector:before {
  content: "\e6de";
}
.icon-message-box:before {
  content: "\e6df";
}
.icon-menu-buttons:before {
  content: "\e6e0";
}
.icon-menu-bottom-buttons:before {
  content: "\e6e1";
}
.icon-locking-grid:before {
  content: "\e6e2";
}
.icon-line-spline:before {
  content: "\e6e3";
}
.icon-line-plot:before {
  content: "\e6e4";
}
.icon-line-marked-spline:before {
  content: "\e6e5";
}
.icon-line-crosszoom:before {
  content: "\e6e6";
}
.icon-line-basic:before {
  content: "\e6e7";
}
.icon-kitchensink:before {
  content: "\e6e8";
}
.icon-imageviewer:before {
  content: "\e6e9";
}
.icon-grouped-header-grid:before {
  content: "\e6eb";
}
.icon-grouped-grid:before {
  content: "\e6ec";
}
.icon-grid-plugins:before {
  content: "\e6ed";
}
.icon-gauge-basic:before {
  content: "\e6ee";
}
.icon-free-paint:before {
  content: "\e6ef";
}
.icon-form-tag:before {
  content: "\e6f0";
}
.icon-form-register:before {
  content: "\e6f1";
}
.icon-form-radiogroup:before {
  content: "\e6f2";
}
.icon-form-number:before {
  content: "\e6f3";
}
.icon-form-login:before {
  content: "\e6f4";
}
.icon-form-grid:before {
  content: "\e6f5";
}
.icon-form-forumsearch:before {
  content: "\e6f6";
}
.icon-form-fileuploads:before {
  content: "\e6f7";
}
.icon-form-fieldtypes:before {
  content: "\e6f8";
}
.icon-form-fieldreplicator:before {
  content: "\e6f9";
}
.icon-form-fieldcontainer:before {
  content: "\e6fa";
}
.icon-form-date:before {
  content: "\e6fb";
}
.icon-form-customfields:before {
  content: "\e6fc";
}
.icon-form-customerrors:before {
  content: "\e6fd";
}
.icon-form-contact:before {
  content: "\e6fe";
}
.icon-form-checkout:before {
  content: "\e6ff";
}
.icon-form-checkboxgroup:before {
  content: "\e700";
}
.icon-form-advtypes:before {
  content: "\e701";
}
.icon-financial-ohlc:before {
  content: "\e702";
}
.icon-financial-candlestick:before {
  content: "\e703";
}
.icon-filtered-tree:before {
  content: "\e704";
}
.icon-feeds:before {
  content: "\e705";
}
.icon-combination-theme:before {
  content: "\e706";
}
.icon-combination-dashboard:before {
  content: "\e707";
}
.icon-column-stacked-100:before {
  content: "\e708";
}
.icon-column-renderer:before {
  content: "\e709";
}
.icon-column-multi-axis:before {
  content: "\e70a";
}
.icon-column-basic:before {
  content: "\e70b";
}
.icon-column-3d:before {
  content: "\e70c";
}
.icon-circle:before {
  content: "\e70d";
}
.icon-cell-editing:before {
  content: "\e70e";
}
.icon-calendar:before {
  content: "\e70f";
}
.icon-border-hexagon:before {
  content: "\e711";
}
.icon-border-circle:before {
  content: "\e712";
}
.icon-binding-two-way-formulas:before {
  content: "\e713";
}
.icon-binding-slider-form:before {
  content: "\e714";
}
.icon-binding-model-validation:before {
  content: "\e715";
}
.icon-binding-hello-world:before {
  content: "\e716";
}
.icon-binding-formulas:before {
  content: "\e717";
}
.icon-binding-field-validation:before {
  content: "\e718";
}
.icon-binding-dynamic:before {
  content: "\e719";
}
.icon-binding-component-state:before {
  content: "\e71a";
}
.icon-binding-combo-chaining:before {
  content: "\e71b";
}
.icon-binding-chained-stores:before {
  content: "\e71c";
}
.icon-binding-associations:before {
  content: "\e71d";
}
.icon-big-data-grid:before {
  content: "\e71e";
}
.icon-basic-trees:before {
  content: "\e71f";
}
.icon-bar-stacked:before {
  content: "\e720";
}
.icon-bar-stacked-100:before {
  content: "\e721";
}
.icon-bar-basic:before {
  content: "\e722";
}
.icon-array-grid:before {
  content: "\e723";
}
.icon-area-stacked:before {
  content: "\e724";
}
.icon-area-stacked-100:before {
  content: "\e725";
}
.icon-area-basic:before {
  content: "\e726";
}
.icon-amf-grid:before {
  content: "\e727";
}
.icon-basic-panels:before {
  content: "\e728";
}
.icon-framed-panels:before {
  content: "\e729";
}
.icon-panel-header-position:before {
  content: "\e72a";
}
.icon-xml-grid:before {
  content: "\e72b";
}
.icon-row-expander-grid:before {
  content: "\e72c";
}
.icon-widget-grid:before {
  content: "\e72d";
}
.icon-row-widget-grid:before {
  content: "\e72e";
}
.icon-binding-two-way:before {
  content: "\e72f";
}
.icon-heterogeneous-tree:before {
  content: "\e730";
}
.icon-check-tree:before {
  content: "\e731";
}
.icon-basic-tabs:before {
  content: "\e732";
}
.icon-plain-tabs:before {
  content: "\e733";
}
.icon-framed-tabs:before {
  content: "\e734";
}
.icon-icon-tabs:before {
  content: "\e735";
}
.icon-advanced-tabs:before {
  content: "\e736";
}
.icon-side-navigation-tabs:before {
  content: "\e737";
}
.icon-navigation-tabs:before {
  content: "\e738";
}
.icon-header-tabs:before {
  content: "\e739";
}
.icon-basic-window:before {
  content: "\e73a";
}
.icon-basic-buttons:before {
  content: "\e73b";
}
.icon-split-buttons:before {
  content: "\e73c";
}
.icon-left-text-buttons:before {
  content: "\e73d";
}
.icon-link-buttons:before {
  content: "\e73e";
}
.icon-segmented-buttons:before {
  content: "\e73f";
}
.icon-vertical-segmented-buttons:before {
  content: "\e740";
}
.icon-dataview-multisort:before {
  content: "\e741";
}
.icon-form-combos:before {
  content: "\e742";
}
.icon-form-vboxlayout:before {
  content: "\e743";
}
.icon-form-hboxlayout:before {
  content: "\e744";
}
.icon-form-multicolumn:before {
  content: "\e745";
}
.icon-form-xml:before {
  content: "\e746";
}
.icon-basic-toolbar:before {
  content: "\e747";
}
.icon-docked-toolbars:before {
  content: "\e748";
}
.icon-breadcrumb-toolbar:before {
  content: "\e749";
}
.icon-layout-absolute:before {
  content: "\e74a";
}
.icon-layout-accordion:before {
  content: "\e74b";
}
.icon-layout-border:before {
  content: "\e74c";
}
.icon-layout-card:before {
  content: "\e74d";
}
.icon-layout-cardtabs:before {
  content: "\e74e";
}
.icon-layout-center:before {
  content: "\e74f";
}
.icon-layout-column:before {
  content: "\e750";
}
.icon-layout-fit:before {
  content: "\e751";
}
.icon-layout-horizontal-box:before {
  content: "\e752";
}
.icon-layout-table:before {
  content: "\e753";
}
.icon-layout-vertical-box:before {
  content: "\e754";
}
.icon-dd-grid-to-form:before {
  content: "\e755";
}
.icon-dd-field-to-grid:before {
  content: "\e756";
}
.icon-dd-grid-to-grid:before {
  content: "\e757";
}
.icon-panels:before {
  content: "\e758";
}
.icon-grids:before {
  content: "\e759";
}
.icon-data-binding:before {
  content: "\e75a";
}
.icon-trees:before {
  content: "\e75b";
}
.icon-windows:before {
  content: "\e75d";
}
.icon-buttons:before {
  content: "\e75e";
}
.icon-data-view:before {
  content: "\e75f";
}
.icon-form-fields:before {
  content: "\e760";
}
.icon-forms:before {
  content: "\e761";
}
.icon-toolbars:before {
  content: "\e762";
}
.icon-layouts:before {
  content: "\e763";
}
.icon-drag-drop:before {
  content: "\e764";
}
.icon-enterprise:before {
  content: "\e765";
}
.icon-charts:before {
  content: "\e766";
}
.icon-legacy-charts:before {
  content: "\e767";
}
.icon-column-charts:before {
  content: "\e768";
}
.icon-bar-charts:before {
  content: "\e769";
}
.icon-line-charts:before {
  content: "\e76a";
}
.icon-area-charts:before {
  content: "\e76b";
}
.icon-scatter-charts:before {
  content: "\e76c";
}
.icon-financial-charts:before {
  content: "\e76d";
}
.icon-pie-charts:before {
  content: "\e76e";
}
.icon-radar-charts:before {
  content: "\e76f";
}
.icon-gauge-charts:before {
  content: "\e770";
}
.icon-combination-charts:before {
  content: "\e771";
}
.icon-column-stacked:before {
  content: "\e772";
}
.icon-line-marked:before {
  content: "\e773";
}
.icon-line-markers:before {
  content: "\e774";
}
.icon-line-renderer:before {
  content: "\e775";
}
.icon-pie-3d:before {
  content: "\e776";
}
.icon-radar-filled:before {
  content: "\e777";
}
.icon-radar-marked:before {
  content: "\e778";
}
.icon-combination-pareto:before {
  content: "\e779";
}
.icon-grid-filtering:before {
  content: "\e77a";
}
.icon-split-bottom-buttons:before {
  content: "\e77b";
}
.icon-grid-data-binding:before {
  content: "\e77c";
}
.icon-grid-data-binding-adv:before {
  content: "\e77d";
}
.icon-grid-live-search:before {
  content: "\e77e";
}
.icon-grid-group-summaries:before {
  content: "\e77f";
}
.icon-grid-row-editor:before {
  content: "\e780";
}
.icon-grid-row-editor-rest:before {
  content: "\e781";
}
.icon-writer-thumb:before {
  content: "\e782";
}
.icon-writer-thumb-json:before {
  content: "\e783";
}
.icon-buffer-grid:before {
  content: "\e784";
}
.icon-grid-transform:before {
  content: "\e785";
}
.icon-grid-summary:before {
  content: "\e786";
}
.icon-form-multiselect:before {
  content: "\e787";
}
.icon-templates:before {
  content: "\e788";
}
.icon-state-saving:before {
  content: "\e789";
}
.icon-locale-switch:before {
  content: "\e78a";
}
.icon-grid-infinite-scroll:before {
  content: "\e78b";
}
.icon-locale-dutch:before {
  content: "\e78c";
}
.icon-spotlight:before {
  content: "\e78d";
}
.icon-resizable:before {
  content: "\e78e";
}
.icon-grid-summary-head:before {
  content: "\e78f";
}
.icon-qtips:before {
  content: "\e790";
}
.icon-panel:before {
  content: "\e791";
}
.icon-progress:before {
  content: "\e792";
}
.icon-slider:before {
  content: "\e793";
}
.icon-tabs-adv:before {
  content: "\e794";
}
.icon-editor:before {
  content: "\e795";
}
.icon-gmap-panel:before {
  content: "\e796";
}
.icon-history-router:before {
  content: "\e797";
}
.icon-history:before {
  content: "\e798";
}
.icon-keyboard:before {
  content: "\e799";
}
.icon-tabs-adv-over:before {
  content: "\e79a";
}
.icon-nested-loading:before {
  content: "\e79b";
}
.icon-side-tabs:before {
  content: "\e79c";
}
.icon-direct-tree-loader:before {
  content: "\e79d";
}
.icon-window:before {
  content: "\e79e";
}
.icon-direct-grid:before {
  content: "\e79f";
}
.icon-direct-form:before {
  content: "\e7a0";
}
.icon-direct:before {
  content: "\e7a1";
}
.icon-direct-arg:before {
  content: "\e7a2";
}
.icon-window-layout:before {
  content: "\e7a3";
}
.icon-tree-columns:before {
  content: "\e7a4";
}
.icon-tree-custom-node-logic:before {
  content: "\e7a5";
}
.icon-advanced-dataview:before {
  content: "\e7a6";
}
.icon-animated-dataview:before {
  content: "\e7a7";
}
.icon-tree-columns-buff:before {
  content: "\e7a8";
}
.icon-actions:before {
  content: "\e7a9";
}
.icon-statusbar-adv:before {
  content: "\e7aa";
}
.icon-tree-columns-lock:before {
  content: "\e7ab";
}
.icon-statusbar-demo:before {
  content: "\e7ac";
}
.icon-toolbar-overflow:before {
  content: "\e7ad";
}
.icon-toolbar-reorderable:before {
  content: "\e7ae";
}
.icon-dd-celltocell:before {
  content: "\e7af";
}
.icon-actions-grid:before {
  content: "\e7b0";
}
.icon-toolbar-button-groups:before {
  content: "\e7b1";
}
.icon-toolbar-vertical:before {
  content: "\e7b2";
}
.icon-ticket2:before {
  content: "\e7b3";
}
.icon-keyboard-navigation:before {
  content: "\e60b";
}
.icon-screen-reader:before {
  content: "\e60c";
}
.icon-color-picker:before {
  content: "\e60d";
}
.icon-aria:before {
  content: "\e60e";
}
.icon-drawing:before {
  content: "\e60a";
}
.icon-combination-bindingtabs:before {
  content: "\e608";
}
.icon-unemployment:before {
  content: "\e609";
}
.icon-lazy-tabs:before {
  content: "\e7b8";
}
.icon-sprite-events:before {
  content: "\e7bb";
}
.icon-draw-bounce:before {
  content: "\e7b9";
}
.icon-easing-functions:before {
  content: "\e7ba";
}
.icon-row-editing:before {
  content: "\e93a";
}
.icon-locked-pivot-grid:before {
  content: "\e929";
}
.icon-d3-view-heatmap-purchases:before {
  content: "\e939";
}
.icon-d3-view-heatmap-heatmap:before {
  content: "\e913";
}
.icon-d3-heatmap:before {
  content: "\e914";
}
.icon-grandtotals-pivot-grid:before {
  content: "\e903";
}
.icon-cellediting-pivot-grid:before {
  content: "\e904";
}
.icon-grid-exporter:before {
  content: "\e905";
}
.icon-drag-data:before {
  content: "\e906";
}
.icon-drag-drop-element:before {
  content: "\e907";
}
.icon-drag-drop-grid:before {
  content: "\e908";
}
.icon-drag-group:before {
  content: "\e909";
}
.icon-drag-handle:before {
  content: "\e90a";
}
.icon-drag-proxy:before {
  content: "\e90b";
}
.icon-drag-simple:before {
  content: "\e90c";
}
.icon-drag-constraint:before {
  content: "\e90d";
}
.icon-binding-algebra-binary:before {
  content: "\e90e";
}
.icon-binding-algebra-formatters:before {
  content: "\e90f";
}
.icon-binding-algebra-ternary:before {
  content: "\e910";
}
.icon-binding-algebra-unary:before {
  content: "\e911";
}
.icon-AlgebraInExpressions:before {
  content: "\e912";
}
.icon-d3-hierarchy:before {
  content: "\e915";
}
.icon-d3-svg:before {
  content: "\e916";
}
.icon-d3-view-custom-svg-heatmap:before {
  content: "\e917";
}
.icon-d3-view-heatmap-sales:before {
  content: "\e918";
}
.icon-d3-view-pack:before {
  content: "\e919";
}
.icon-d3-view-particles:before {
  content: "\e91a";
}
.icon-d3-view-sunburst:before {
  content: "\e91b";
}
.icon-d3-view-sunburst-zoom:before {
  content: "\e91c";
}
.icon-d3-view-transitions:before {
  content: "\e91d";
}
.icon-d3-view-tree:before {
  content: "\e91e";
}
.icon-d3-view-treemap-tooltip:before {
  content: "\e955";
}
.icon-d3-view-treemap:before {
  content: "\e91f";
}
.icon-d3:before {
  content: "\e920";
}
.icon-d3-canvas:before {
  content: "\e921";
}
.icon-pie-double-donut:before {
  content: "\e922";
}
.icon-calendar-days-view:before {
  content: "\e923";
}
.icon-calendar-month-view:before {
  content: "\e924";
}
.icon-calendar-panel:before {
  content: "\e925";
}
.icon-calendar-timezone:before {
  content: "\e926";
}
.icon-calendar-validation:before {
  content: "\e927";
}
.icon-calendar-week-view:before {
  content: "\e928";
}
.icon-plus-circle:before {
  content: "\e900";
}
.icon-minus-circle:before {
  content: "\e901";
}

